{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}
<style>
    td, th {
    padding: 8px!important;
}
</style>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script>
    var randomColorGenerator = function () {
        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
    };
    var options = {
        responsive: true,
        maintainAspectRatio: true,
        legend: {
            position: 'left'
        },
        title: {
            display: true
        },
        animation: {
            animateScale: true,
            animateRotate: true
        }
    };
    window.onload = function () {
        var ctx = document.getElementById("gender-chart");
        {% regroup cl.queryset|dictsort:"problem_related_utility" by get_problem_related_utility_display as problem_related_utility_list %}
        var lineChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{% for problem in problem_related_utility_list %}'{{ problem.grouper }}',{% endfor %}],
                datasets: [{
                            data: [{% for problem in problem_related_utility_list %}'{{ problem.list|length }}', {% endfor %}],
                            backgroundColor: [{% for problem in problem_related_utility_list %}randomColorGenerator(), {% endfor %}]
                        }]
                },
            options: options
                    });
        }
</script>
{% endblock %}
{% block content %}
<h1> Graphs </h1>
<hr>
<div class="row">
    <div class="col-sm-4">
        <canvas id="gender-chart" style="width: 100px !important;"></canvas>
    </div>
    <div class="col-sm-4">
        <canvas id="language-chart" style="width: 100px !important;"></canvas>
    </div>
    <div class="col-sm-4">
        <canvas id="grades-chart" style="width: 100px !important;"></canvas>
    </div>
</div>
{{ block.super }}
{% endblock %}
