{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Home Page
        {% endblock %}
    </title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- OpenLayers -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.10.0/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.10.0/build/ol.js"></script>
    <!-- <script type="text/javascript" include="bootstrap,jquery,widgets.alert" src="../js/include-web.js"></script> -->
    <!-- <script type="text/javascript" src="../../dist/ol/include-ol.js"></script> -->
    <!-- MapBox -->
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' /> -->


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'utilities/css/map.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'utilities/css/homepage-style.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="#"><img src="{% static 'utilities/logo.svg.png' %}" alt="" width="40" height="40"> Utility Mangement System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% block currentpage %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'webmap' %}">GIS</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link text-success">{{user.username}} </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger " href="{% url 'signOut' %}">Log Out</a>
                                </li>
                            {% else %}
                                <li class="nav-item text-end">
                                    <a class="nav-link text-danger" href="{% url 'signIn' %}">Log In</a>
                                </li>
                            {% endif %}
                    </ul>
                </div> -->
            {% endblock %}
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">&nbsp;
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block content %}
        <!-- ======= Hero Section ======= -->
        <section id="hero">
            <div class="hero-container">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'utilities/KU.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'utilities/KU1.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'utilities/KU3.jpg' %}" class="d-block w-100" alt="...">
                    </div>

                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>

                </div>

            <!-- <a href="login.html" class="btn-get-started scrollto">Login</a> -->
            </div>
        </section><!-- End Hero -->
        <div class="carousel-title">
            <h2 class="m-auto">Welcome to Kathmandu University Utility Management System</h2>
        </div>
        <main id="main">

            <!-- ======= About Section ======= -->
            <section id="about" class="about">
            <div class="container">

                <div class="row justify-content-end">
                <div class="col-lg-11">
                    <div class="row justify-content-end">

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box py-5">
                        <i class="bi bi-book" style= "color: #0D6EFC;"></i>
                        <span data-purecounter-start="0" data-purecounter-end="200" class="purecounter">200</span>
                        <p>Programs</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box py-5">
                        <i class="bi bi-mortarboard" style= "color: #e98706;"></i>
                        <span data-purecounter-start="0" data-purecounter-end="16100" class="purecounter">16100</span>
                        <p>Current Students</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box pb-5 pt-0 pt-lg-5">
                        <i class="bi bi-arrows-fullscreen" style= "color: #1e6d81;"></i>
                        <span data-purecounter-start="0" data-purecounter-end="17" class="purecounter">17</span>
                        <p>Affiliations</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box pb-5 pt-0 pt-lg-5">
                        <i class="bi bi-person-plus" style= "color: #c03232;"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1943" class="purecounter">1943</span>
                        <p>Staff</p>
                        </div>
                    </div>

                    </div>
                </div>
                </div>

                <div class="row">

                <div class="col-lg-6 video-box align-self-baseline position-relative">
                    <img src="{% static 'utilities/KU3.jpg' %}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 pt-3 pt-lg-0 content">
                    <h3>About Kathmandu University</h3>
                    <p class="fst-italic">
                    Kathmandu University (KU) is an autonomous, not-for-profit, self-funding public institution. It is an institution of higher learning dedicated to maintaining the standard of academic excellence in various classical and professional disciplines.
                    </p>
                    <ul>
                    <li><i class="bx bx-check-double"></i> Mission: To provide quality education for leadership.</li>
                    <li><i class="bx bx-check-double"></i> Vision: To become a world-class university devoted to bringing knowledge and technology to the service of mankind.</li>
                    <h4>Schools</h4>
                    <ul>
                    <li><a href="http://kusoa.edu.np" target="_blank">School of Arts</a></li>
                    <li><a href="https://soed.ku.edu.np" target="_blank">School of Education</a></li>
                    <li><a href="https://soe.ku.edu.np" target="_blank">School of Engineering</a></li>
                    <li><a href="https://sol.ku.edu.np" target="_blank">School of Law</a></li>
                    <li><a href="https://kusom.edu.np" target="_blank">School of Management</a></li>

                    <li><a href="https://kusms.edu.np" target="_blank">School of Medical Sciences</a></li>
                    <li><a href="https://sos.ku.edu.np" target="_blank">School of Science</a></li>
                    </ul>
                    </ul>
                    <h5>Vice Chancellor</h5>
                    <ul>
                    <li> Prof. Dr. Bhola Thapa</li>
                    </ul>
                    <h5>Registrar</h5>
                    <ul>
                    <li> Dr. Subodh Sharma</li>
                    </ul>
                </div>

                </div>

            </div>
            </section><!-- End About Section -->

            <!-- ======= Cta Section ======= -->
            <section id="cta" class="cta">
            <div class="container" data-aos="fade-in">

                <div class="text-center">
                <h3>Utility Management</h3>
                <p> Providing good and managed services in Kathmandu University is the main goal of the Mangement Team here.
                    Utilites in Kathmandu University are also managed through Web Application: Kathmandu Unviersity Utility Mangement System
                </p>
                <a class="cta-btn" href="{% url 'signIn' %}">Log In</a>
                </div>

            </div>
            </section><!-- End Cta Section -->

            <!-- ======= Services Section ======= -->
            <section id="services" class="services ">
            <div class="container">

                <div class="section-title pt-5" data-aos="fade-up">
                <h2>Our Services</h2>
                </div>

                <div class="row">
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-map" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="{% url 'webmap' %}">Web Map</a></h4>
                    <p class="description">The users can view Web Map of Kathmandu University. They also have choice to switch between various base maps.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-question-circle" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="{% url 'webmap' %}">Query</a></h4>
                    <p class="description">New to Web App? No problem. Users can query their concerns about utilities in our system.</p>
                    </div>
                </div>

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                    <div class="icon"><i class="bi bi-rulers" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="{% url 'webmap' %}">Area and Distance Measurement</a></h4>
                    <p class="description">Users can measure distance from one block to the other, or find area of the Football ground, and many more through Area and Distance Measurement.</p>
                    </div>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                    <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="{% url 'webmap' %}">Utility Concerns</a></h4>
                    <p class="description">Users can view their desired utility layer in this application. Electric poles, transmission line, roads, sewer, drainage, ...</p>
                    </div>
                </div>

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                    <div class="icon"><i class="bi bi-toggles" style="color: #22d3ff;"></i></div>
                    <h4 class="title"><a href="{% url 'webmap' %}">Layers Toggling</a></h4>
                    <p class="description">Want to view your desired layer only? It's possible to toggle between various layers and basemaps here.</p>
                    </div>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                    <div class="icon"><i class="bi bi-upload" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="{% url 'webmap' %}">Complaint Registration</a></h4>
                    <p class="description">Can't withstand seeing something damaged? Immediately register the complaint here.</p>
                    </div>
                </div>
                </div>

            </div>
            </section><!-- End Services Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
            <div class="container">
                <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>Management</h3>
                    <p>The main objective of this application is to help users explore Kathmandu University, provide them detailed information of the wherabouts, and record and maintain the utilities around the University.</p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                    <li><a href="{% url 'webmap' %}">Web App</a></li>
                    <li><a href="https://ku.edu.np" target="_blank">Kathmandu University</a></li>

                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                    Group 1<br>
                    Bagmati Province, Kathmandu<br>
                    Nepal <br>
                    <strong>Phone:</strong> +977-9812345678<br>
                    <strong>Email:</strong> group1@gmail.com<br>
                    </p>

                    <div class="social-links">
                    <a href="https://github.com/iamrajbhattarai/ums" class="github" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

                </div>
            </div>
            </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    {% endblock %}



    <!-- Optional JavaScript for bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
