{% extends 'utilities/home.html' %}
{% load static %}

{% block title %} Web Map {% endblock %}

{% block currentpage %}
    <li class="nav-item">                        
        <a class="nav-link" href="{% url 'homepage' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webmap' %}">Map</a>
    </li>
{% endblock %} 
{% block content %}
    <p>This is the place where the map will be.</p>
{% endblock %}

{% block links %}
    <a href="{% url 'homepage' %}">Home</a>
{% endblock %}