{% extends 'utilities/home.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block currentpage %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webmap' %}">GIS</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
                {% csrf_token %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-success">{{user.username}} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger " href="{% url 'signOut' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item text-end">
                        <a class="nav-link text-danger" href="{% url 'signIn' %}">Log In</a>
                    </li>
                {% endif %}
        </ul>
    </div>
{% endblock %}
{% block content %}
<div class="row" style="width: 100%;">
    <div class="col-md-6" style="background: #cedbe9; padding-left: 10%; padding-top: 8%;">
        <img style="box-shadow: 10px 10px 10px 10px rgb(88, 88, 88); " src="{% static 'utilities/utility.jpeg' %}" alt="">

    </div>
    <div class="col-md-6" style="height: 93vh; ">
        <div class= "login-form">
            <!-- <form method="post" >
                <h1>Log In</h1>
                <hr>
                {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-warning" type="submit">Log In</button> -->

            <form action="{% url 'password_change' %}" method="POST">
                {% csrf_token %}
                <h1>Change Password</h1>
                <br>
                <img src="{% static 'utilities/login.png' %}" alt="" style="width: 30%; border-radius: 40%;">
                <br> <br>
                <p style="text-align: left;">Please enter your old and new passwords to set new one.</p>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="oldpassword">
                    <label for="floatingPassword">Old Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="changepassword1" name="changepassword1" placeholder="changepassword1">
                    <label for="floatingPassword">New Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="changepassword2" name="changepassword2" placeholder="changepassword2">
                    <label for="floatingPassword">Confirm Password</label>
                </div>
                {% if messages %}
                    <div class="messages-success" style="color: green;">
                        {% for message in messages %}
                        {% if message.tags == "success" %}{{ message }}{% endif %}
                        {% endfor %}
                    </div>
                    <div class="messages-fail" style="color: red;">
                        {% for message in messages %}
                            {% if message.tags == "error" %}{{ message }}{% endif %}
                        {% endfor %}
                    </div>
                    <br>
                {% endif %}
                <button type="submit" class="btn btn-warning" style="margin-left:30%;">Change Password</button>
                <a href="{% url 'webmap' %}" style="color:green; margin-left:20%"><u>GIS</u></a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
